<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onItemAdded()" #shoppingForm="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                        type="text"
                        id="name"
                        class="form-control"
                         ngModel
                         name="name"
                         required
                         #name="ngModel">
                         <p *ngIf="name.invalid && name.touched">Please enter a name</p>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                        type="number"
                        id="number"
                        class="form-control"
                        ngModel
                        name="amount"
                        required
                        #amount="ngModel">
                        <p *ngIf="amount.invalid && amount.touched">Please enter a amount</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- <button class="btn btn-success" (click)="onItemAdded()" type="button">Add</button> -->
                    <button class="btn btn-success" [disabled]="shoppingForm.invalid" type="submit">{{ editMode? "Update": "Add"}}</button>
                    <button class="btn btn-danger" type="button" (click)="onDeleteItem()" [disabled]="!editMode">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="clear()" [disabled]="!shoppingForm.dirty"> Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
